* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: none;
}

.main-content {

  padding: 74px 0px 80px;
  transition: margin-left 0.3s ease;
}

.main-content-box-inner {
  margin: 0 20px;
  position: relative;
}


.search-arae-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 260px;
}

.search-label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.form-control-search {
  background: transparent;
  transition: border-color 0.3s;
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  outline: none;
  border: 1px solid #2d2d2d68;
  line-height: 1.5;
  border-radius: 3px;
  padding: 6px 0.75rem;
  color: #000000db;
  background-color: #fff;
}

.filterformpay {
  background-color: #cfcdcd6b;
  padding: 14px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.filter-btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 21px;
}
.search-area-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.btn-filter {
  border-width: 1px;
  font-size: 15px;
  padding: 8px 24px;
  cursor: pointer;
  text-align: center;

  display: inline-block;
  background: #AE1C9A;
  font-weight: 500;
  position: relative;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
  border: none;
}



.btn-reset {
  border-width: 1px;
  font-size: 15px;
  padding: 4px 24px;
  text-align: center;
  margin-right: 3px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8857ff;
  letter-spacing: 0.6px;
  line-height: 26px;
  display: inline-block;
  font-weight: 500;
  position: relative;
  color: #000;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
}

.btn-reset:hover {
  background: #8857ff;
  color: #fff;
}


.card-bg-warrper {
  width: 100%;
  position: relative;
  min-width: 0;
  border: 1px solid rgb(0 0 0 / 31%);
  padding: 12px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  height: auto;
  box-shadow: 0 10px 30px 0 rgb(98 89 202 / 30%);
  border-radius: .688rem;
  overflow: hidden;
  margin-bottom: 20px;
}

.header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 60px;
  z-index: 999;
  transition: 0.3s ease-in;
  inset-block-start: 0;
  inset-inline: 0;
  background: #fff;
  border-block-end: 1px solid #e6eff1;
  transition: all 0.1s ease;
  box-shadow: 0px 2px 4px rgba(1, 98, 232, 0.08), 0px 4px 8px rgba(1, 98, 232, 0.03);
  padding: 8px;

}

.header_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 100%;

}

.header-left {
    position: relative;
    display: flex;
    gap: 5px;
}

.profile-area {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo {
  height: 30px;
    object-fit: cover;
}

.profile-header {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c7c5c5;
}

.username {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 22px;
  background: #ffffff;
  width: 160px;
  border-radius: 2px;
  padding: 8px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 999;
  animation: fadeIn 0.2s ease-in-out;
}

.dropdown-menu ul li {
  width: 100%;
}


.dropdown-item {
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 5px 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 28px;
  border-bottom: 1px solid #5e4cd1;
}

.dropdown-icon-left {
  display: inline-block;
  width: 20px;
  color: #000;
  font-size: 20px;

}

.dropdown-item:hover {
  background: #f4f4f4;
  color: #000;
}

.dropdown-icon {
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #1b3a66;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}


.menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}




/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 0px;
  height: calc(100% - 91px);

  max-width: 238px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  padding-top: 0;
  transition: 0.3s ease-in;
  z-index: 11;
  transform: translateX(0px);
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


.sidebar::-webkit-scrollbar {
  width: 3px;
}


.sidebar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}


.sidebar::-webkit-scrollbar-thumb {
  background: #AE1C9A;
  border-radius: 10px;
}


.sidebar::-webkit-scrollbar-thumb:hover {
  background: #AE1C9A;
}




.profile-pic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}


.sidebar.open {
  transform: translateX(0);
}

.profile {
  position: relative;
  margin: 20px;
  padding: 12px 12px 14px;
  border-radius: 14px;
  background: linear-gradient(135deg, #ae1c9ad6, #8857ff);
  transition: 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 14px 40px rgba(37, 99, 235, 0.18);
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #ffffff29
}

.profile-name {
  font-size: 1.1rem;
  margin: 0;
  color: #fff;
  font-weight: 600;
}


.profile-rating span {
  color: #ffd700;
  font-size: 1rem;
  margin: 0 2px;
}

.sidebar-menu {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;

}

.sidebar-item {
  border-bottom: 1px solid #0162e814;
  padding: 0.25rem 0;
  position: relative;
}

.sidebar-link {
  max-width: 100%;
  padding: 0.5rem 0.85rem;
  border-radius: 12px;
  display: flex;
  align-items: center;

  gap: 0.65rem;
  transition: color 0.2s ease, background 0.2s ease, transform 0.2s ease;
  position: relative;
}

.sidebar-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.sidebar-link .text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
  box-sizing: border-box;
  line-height: 1.35;

}

.sidebar-link:hover {
  background: #ae1c9a1f;
  color: #ae1c9a;
  transform: translateX(3px);

}


.sidebar-link .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: #ae1c9a1f;
  color: #ae1c9a;
  font-size: 1.05rem;
  transition: background 0.2s ease, color 0.2s ease
}

.sidebar-link.active {
  background: #ae1c9a1f;
  color: #ae1c9a;
  transform: translateX(3px);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.content-container {
  height: 100vh;
  display: inline-block;
}

.submenu {
  list-style: none;
  padding-left: 30px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-subitem {
  margin-bottom: 3px;
}

.sidebar-subitem .sidebar-link {
  max-width: 100%;
  padding: 0.5rem 0.85rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.65rem;
  transition: color 0.2s ease, background 0.2s ease, transform 0.2s ease;
  position: relative;
  line-height: 27px;
}

.sidebar-subitem .sidebar-link:hover,
.sidebar-subitem .sidebar-link.active {
  background: #ae1c9a1f;
  color: #ae1c9a;
  transform: translateX(3px);
}

@media (max-width: 991px) {
  .menu-icon {
    display: inline-block;
  }

  .sidebar {
    transform: translateX(-103%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0 !important;
  }
}

@media (max-width: 425px) {
  .profile_text-inner{
    display: none;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 60px;
  z-index: 999;
  background: #fff;
  border-block-start: 1px solid #e6eff1;
  box-shadow:
    0px -2px 4px rgba(1, 98, 232, 0.08),
    0px -4px 8px rgba(1, 98, 232, 0.03);

  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.1s ease;
}


.user_profile {
    width: 100%;
    position: relative;
    min-width: 0;
    border: 1px solid rgb(0 0 0 / 31%);
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    height: auto;
    box-shadow: 0 10px 30px 0 rgb(98 89 202 / 30%);
    border-radius: .688rem;
    overflow: hidden;
    max-width: 575px;
    margin: 0 auto;
    margin-top: 41px;
}



.profile-img-box {
    width: 85px;
    margin: 0 auto;
    height: 85px;
}

.profile-img-box img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 0;
}











.dashboard_top_inner_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard_row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}



.dashboard_iocn {
  font-size: 21px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  border: 1px solid rgba(244, 161, 87, 0.36);
  box-shadow: rgba(244, 161, 87, 0.16) 0px 10px 25px;
  background-color: #ae1c9a;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 4px;
  border-radius: 3px;
}

.dashboard_heading {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin: 0;
  line-height: 22px;
}

.dashboard_btn a {
  border-width: 1px;
  font-size: 16px;
  padding: 9px 10px;
  gap: 3px;
  cursor: pointer;
  text-align: center;
  display: flex;
  background: #AE1C9A;
  font-weight: 500;
  position: relative;
  align-items: center;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
  border: none;
  transition: background 0.2s ease, transform 0.2s ease;
}

.dashboard_btn a:hover {
  background: #8857ff;
  color: #fff;

}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: rgba(15, 23, 42, 0.15) 0px 30px 56px;
}

.card-title {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}

.card-count {
  font-size: 35px;
  margin: 10px 0 0;
  font-weight: 700;
}

.card-icon {
  background-color: #FFE9D6;
  color: #F4A157;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.card-new {
  border: 1px solid rgba(244, 161, 87, 0.36);
  box-shadow: rgba(244, 161, 87, 0.16) 0px 18px 42px;
}

.card-sale {
  border: 1px solid rgba(102, 204, 255, 0.36);
  box-shadow: rgba(102, 204, 255, 0.16) 0px 18px 42px;
}

.card-total {
  border: 1px solid rgba(153, 255, 153, 0.36);
  box-shadow: rgba(153, 255, 153, 0.16) 0px 18px 42px;
}

.card-order {
  border: 1px solid rgba(255, 153, 153, 0.36);
  box-shadow: rgba(255, 153, 153, 0.16) 0px 18px 42px;
}

.card-new .card-icon {
  background-color: #DFF5E0;
  color: #28A745;
}

.card-sale .card-icon {
  background-color: #FFF3CD;
  color: #FFC107;
}

.card-total .card-icon {
  background-color: #019bb6;
  color: #17A2B8;
}

.card-order .card-icon {
  background-color: #F8D7DA;
  color: #DC3545;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #adabab87;
  border-radius: 4px;
}

.sale-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-bg-warpper th {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  ;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.table-bg-warpper-inner td {
  padding: 14px 20px;
  font-size: 14px;
  color: #333;
  transition: all 0.2s ease;
}

tbody.table-bg-warpper-inner tr td {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #000000a1;
}

.table-bg-warpper-inner tr {
  margin-bottom: 8px;
  display: table-row;
}

.table-bg-warpper-inner tr:nth-child(even) td {
  background-color: #f1f1f1e8;
}

.table-bg-warpper-inner tr:nth-child(odd) td {
  background-color: #ffffff;
}

.table-bg-warpper-inner tr:hover td {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

.no-data {
  text-align: center;
  padding: 20px 0;
  font-weight: 500;
  color: #999;
}

.sale-table th,
.sale-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #AE1C9A;
  border-radius: 8px;
  border: 2px solid #f1f1f1;
}

.filter-section {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination_info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table-info {
  text-align: left;
  font-size: 16px;
  color: #000000ad;
  font-weight: 600;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination button {
  background-color: #fff;
  color: #ae1c9a;
  border: 1px solid #ae1c9a;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button:hover:not(:disabled) {
  background-color: #8857ff;
  border-color: #8857ff;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #ae1c9a;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.pagination button svg {
  margin: 0;
  font-size: 16px;
}

.payment-btn {
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
}

.payment-success {
  color: #0a8f3e;
  background: #d4f8df;

}

.payment-pending {
  color: #b97600;
  background: #fff2ce;

}

.payment-failed {
  color: #d10000;
  background: #ffd4d4;
}


@media (max-width: 768px) {

  .sale-table th,
  .sale-table td {
    padding: 12px 10px;
    font-size: 13px;
  }
}

.product-form_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.form-group label {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
}
button.back-btn.dashboard_iocn {
    display: flex;
    gap: 12px;
    font-size: 14px;
    padding: 10px 15px;
}
select.form-control-search {
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px 5px;
  cursor: pointer;
}
.image-preview-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.action-btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0 3px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}


.view-btn {
  background-color: #28a745;
  color: #fff;
}

.toggle-switch {
  width: 42px;
  height: 18px;
  border-radius: 20px;
  background: #ff4d4d;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  display: inline-block;
  margin-right: 10px;
}

.toggle-switch.active {
  background: #28a745;
}

.toggle-circle {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s ease;
}

.toggle-switch.active .toggle-circle {
  left: 24px;
}

.status-text {
  height: 20px;
  width: 61px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
}

.status-text.active {
  color: #28a745;
  background: #28a7453b;
}

.status-text.inactive {
  color: #ff4d4d;
  background: #ff4d4d40;
}

.action-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #444;
}









































































.category-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.category-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.category-form .form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.category-form label {
  margin-bottom: 6px;
  font-weight: 500;
}

.category-form input,
.category-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.category-form input:focus,
.category-form textarea:focus {
  border-color: #053F44;
}

.preview-box {
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 8px;
}

.preview-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #053F44;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:hover {
  background: #06585e;
}



.category-form select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.category-form select:focus {
  border-color: #053F44;
}

.category-form option {
  padding: 10px;
}















.title {
  margin-bottom: 15px;
  color: #053f44;
}